body {
  background-color: var(--blue100);
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100%;
}

.sidebar-container {
  position: relative;
}

.bg-sidebar-mobile {
  height: 200px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.bg-sidebar-desktop {
  display: none;
}

.navigation-buttons {
  display: flex;
  gap: 24px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 100%);
  top: 50%;
}
.sidebar-button-label-container {
  display: none;
}

.sidebar-button {
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 50%;
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  width: 48px;
}

.active-sidebar-button {
  background-color: var(--blue100);
  border: 1px solid var(--blue100);
  color: var(--blue950);
}

.sidebar-button-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.content-main {
  height: 100vh;
  position: absolute;
  top: 150px;
  width: 100vw;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100vh;
  position: relative;
  justify-content: space-between;
}

.info-container {
  background: var(--white);
  border-radius: 8px;
  height: max-content;
  left: 50%;
  padding: 32px 24px;
  position: relative;
  transform: translateX(-50%);
  width: 75vw;
  z-index: 10;
}
.info-header {
  color: var(--blue950);
  font-weight: bold;
  margin-bottom: 8px;
}

.info-body {
  color: var(--grey500);
  font-size: 16px;
  margin: 10px 0;
}

.info-form-section {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info-form-element {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;

  input {
    padding: 16px;
    border: 1px solid var(--purple200);
    border-radius: 8px;
  }
  input::placeholder {
    font-weight: bold;
    color: var(--grey500);
  }

  span {
    color: var(--red500);
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
  }
}

.info-form-element-label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    color: var(--blue950);
    font-size: 14px;
  }
}

.app-footer {
  align-items: center;
  background-color: var(--white);
  bottom: 0;
  display: flex;
  height: 60px;
  left: 0;
  padding: 24px;
  position: fixed;
  right: 0;
  z-index: 10;
}

.footer-go-back-button {
  all: unset;
  color: var(--grey500);
  cursor: pointer;
}
.footer-go-back-button:active {
  color: var(--blue950);
}

.footer-next-step-button {
  background-color: var(--blue950);
  border: 1px solid var(--blue950);
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  padding: 12px 24px;
}

.footer-confirm-step-button {
  background-color: var(--purple600);
  border: 1px solid var(--purple600);
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  padding: 12px 24px;
}

.footer-confirm-step-button:active {
  background-color: var(--blue300);
  border: 1px solid var(--blue300);
}

.app-footer-initial {
  justify-content: flex-end;
}

.app-footer-others {
  justify-content: space-between;
}

.plan-form-section {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.plan-container {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid var(--purple200);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 16px;

  img {
    width: 36px;
  }
}

.plan-container-selected {
  border: 1px solid var(--purple600);
}

.plan-button-body {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;

  .plan-button-body-header {
    color: var(--blue950);
    font-size: 16px;
    font-weight: bold;
  }

  .plan-button-body-cost {
    color: var(--grey500);
  }

  .plan-button-body-free {
    color: var(--blue950);
    font-size: 12px;
  }
}

.plan-toggle-container {
  align-items: center;
  background-color: var(--blue100);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 20px 0;
  padding: 16px 0;
}

.toggle-button {
  background-color: var(--blue950);
  border: none;
  border-radius: 99px;
  cursor: pointer;
  width: 48px;
  height: 24px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  position: relative;
}

.toggleThumb {
  height: 16px;
  width: 16px;
  background-color: white;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.isToggledYearly {
  .toggleThumb {
    left: auto;
    right: 4px;
  }
}

.toggle-Yes {
  font-weight: bold;
  color: var(--blue950);
}

.toggle-No {
  font-weight: bold;
  color: var(--grey500);
}

.addons-section {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.addOn-button {
  background-color: var(--white);
  align-items: center;
  border: 1px solid var(--purple200);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.addOn-button-selected {
  border: 1px solid var(--purple600);
  background-color: var(--blue50);
}

.addOn-content {
  align-items: center;
  display: flex;
  gap: 16px;

  input {
    width: 20px;
    height: 20px;
  }
}
.addOn-content-body {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;

  h6 {
    color: var(--blue950);
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    color: var(--grey500);
    font-size: 14px;
    margin: 0;
  }
}

.addOn-cost {
  color: var(--purple600);
  font-size: 14px;
}

.summary-form-section {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.summary-form-details {
  background-color: var(--blue100);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;

  span {
    height: 1px;
    background-color: var(--blue200);
  }
}

.summary-form-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.summary-form-header-details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;

  h6 {
    color: var(--blue950);
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  button {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--grey500);
    cursor: pointer;
    font-size: 14px;
    margin: 0;
    text-decoration: underline;

    &:active {
      color: var(--purple600);
    }
  }
}

.summary-form-header-cost {
  color: var(--blue950);
  font-weight: bold;
}

.summary-form-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.summary-form-body-item {
  display: flex;
  font-size: 12px;
  justify-content: space-between;

  .summary-form-body-item-name {
    color: var(--grey500);
  }

  .summary-form-body-item-cost {
    color: var(--blue950);
  }
}

.summary-form-cost {
  align-items: center;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.summary-form-cost-item-name {
  color: var(--grey500);
}

.summary-form-cost-total {
  color: var(--purple600);
  font-size: 16px;
  font-weight: bold;
}

.thankyou-container {
  align-items: center;
  background: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: center;
  left: 50%;
  padding: 72px 24px;
  position: relative;
  transform: translate(-50%);
  width: 75vw;

  img {
    width: 64px;
  }

  h1 {
    color: var(--blue950);
    font-size: 24px;
    font-weight: bold;
    margin: 24px 0 8px 0;
  }

  p {
    color: var(--grey500);
    font-size: 16px;
    text-align: center;
    margin: 0;
    line-height: 1.5;
  }
}

/* 
  MEDIA QUERIES
*/

@media screen and (min-width: 768px) {
  html, body {
  overflow: hidden;
}
  body {
    background-color: var(--white);
  }
  .bg-sidebar-mobile {
    display: none;
  }

  .bg-sidebar-desktop {
    display: block;
    object-fit: cover;
    width: 300px;
  }

  .app-container {
    flex-direction: row;
    max-height: 100vh;
    margin: 16px;
  }

  .sidebar-container {
    height: 100%;
    width: 300px;
  }

  .navigation-buttons {
    flex-direction: column;
    top: 10%;
    transform: translate(-38%, 0%);
    width: 100%;
  }

  .sidebar-button-label-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .sidebar-button-label-header {
      color: var(--grey500);
      font-size: 14px;
    }

    .sidebar-button-label-body {
      color: var(--white);
      font-size: 16px;
      font-weight: bold;
    }
  }

  .content-main {
    all: unset;
    height: 100%;
    margin: 16px 32px 0;
    padding-left: 32px;
    width: max-content;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }

  .info-container {
    width: 100%;
  }

  .app-footer {
    all: unset;
    display: flex;
    justify-content: space-between;
  }

  .app-footer-initial {
    justify-content: end;
  }

  .plan-form-section {
    flex-direction: row;
  }

  .plan-container {
    flex-direction: column;
    gap: 48px;
    width: 100%;
  }

  .addons-section {
    margin-top: 48px;
  }

  .summary-form-section {
    margin-top: 48px;
  }

  .summary-form-details {
    gap: 16px;
  }

  .thankyou-container {
    left: 50%;
    padding-right: 64px;
    top: 20%;
    width: 100%;
  }
}
